# MODELLING : Support Vector Machine

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter("ignore")

In [3]:
#loading data

data = pd.read_csv('cleaned_data.csv')
data.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [4]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [5]:
#Split data
from sklearn.model_selection import train_test_split

X_train , X_test , y_train , y_test = train_test_split(X,y,random_state = 12 , train_size = 0.8)

**BASELINE MODEL**

In [7]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
svm = SVC()
svm.fit(X_train,y_train)

#train error
Xtrain_pred = svm.predict(X_train)
print("Train accuracy : " , accuracy_score(y_train , Xtrain_pred))

#test error
Xtest_pred = svm.predict(X_test)
print("Test accuracy : " , accuracy_score(y_test , Xtest_pred))

#cv score
print("CV Score : " , cross_val_score(svm , X_train , y_train , cv = 5 , scoring = 'accuracy').mean())

Train accuracy :  0.6861924686192469
Test accuracy :  0.65
CV Score :  0.6861702127659575

# Fine tuning hyperparameters

In [ ]:
from sklearn.model_selection import GridSearchCV

estimator = SVC(random_state=12)
params_grid = {'C' : [0.01 , 0.1 , 1 , 10 , 100],
               'kernel' : ['linear' , 'rbf' , 'sigmoid' , 'poly']}

fine_model = GridSearchCV(estimator , params_grid , cv = 5 , scoring = "accuracy")
fine_model.fit(X_train , y_train)
fine_model.best_params_